body {
    margin: 0px;
    padding: 0px;
}
#root {
    width: 100%;
}
/*height=0和padding-bottom: 50%配合可以使高度显示为parent节点宽度的50%*/
#container {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    overflow: hidden;
    position: absolute;
    background-color: rebeccapurple;
/*  使view居中显示
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -50px;
*/
    
}

.scroll {
    transition: left 1s linear;  
}

#slider {
    width: 400%;
    height: auto;
    overflow: hidden;
    position: absolute;
    left: 0;
}  

.item {
    width: 25%;
    float: left;
}